/* font-family: "Hahmlet", serif;*/
/*font-family: "IM Fell Double Pica", serif;*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* body {
  background-image: url(./imagenes/pagina/BG__site.jpeg);
}
.titulos {
  color: #ffffff;
  font-family: "IM Fell Double Pica", serif;
  font-size: 50px;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.gridHead {
  display: grid;
  grid-template-areas: "logo";
  justify-items: center;
}
.logo {
  grid-area: logo;
  height: fit-content;
  z-index: 1;
  height: 200px;
  margin-top: 2rem;
}

.nav-color {
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
  color: #ffffff !important;
  font-weight: 500;
}

.navFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: solid 0.5px #ffffff;
  border-bottom: solid 0.5px #ffffff;
}

.nav-link {
  margin: 0 1rem 0 1rem;
  border-left: solid 0.5px #ffffff;
  border-right: solid 0.5px #ffffff;
  background-color: unset;
}
.card {
  margin: 2rem 0 0 0;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardPelicula {
  font-family: "Hahmlet", serif;
  font-size: 20px;
  color: white;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-body {
  background-color: black;
  text-align: center;
}

.halcon {
  position: absolute;
  z-index: 1;
  width: 700px;
  animation-name: vuelo;
  animation-duration: 3.5s;
  opacity: 0;
  z-index: -1;
}

@keyframes vuelo {
  0% {
    z-index: 1;
    opacity: 1;
    transform: translateX(-200px);
  }
  50% {
    z-index: 1;
    opacity: 1;
    transform: translateX(500px);
  }

  100% {
    z-index: 1;
    transform: translateX(1024px);
  }
}

.flexDetail {
  margin: 1rem 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titulosDetail {
  color: #ffffff;
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
  text-align: center;
  margin: 1rem 0 2rem 1rem;
}

.itemDetail {
  font-family: "Hahmlet", serif;
  font-weight: 700;
  font-size: 15px;
  margin: 2rem 2rem 2rem 2rem;
  color: #ffffff;
}

.portadaDetail {
  height: 500px;
  width: 400px;
}
.btnFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btnDetail {
  margin: 3rem 3rem 0 0;
}

.sable {
  position: fixed;
  z-index: 1;
  width: 350px;
  animation-name: giro;
  animation-duration: 2s;
  opacity: 1;
  z-index: 1;
}

@keyframes giro {
  0% {
    z-index: 1;
    opacity: 1;
    transform: rotateZ(-360deg);
  }
}

@media (max-width: 768px) {
  .nav-link {
    border-left: unset;
    border-right: unset;
  }
  .navFlex {
    justify-content: flex-start;
  }
}
