/* font-family: "Hahmlet", serif;*/
/*font-family: "IM Fell Double Pica", serif;*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* body {
  background-image: url(./imagenes/BG__site.jpeg);
}

.gridHead {
  display: grid;
  grid-template-areas: "logo";
  justify-items: center;
}
.logo {
  grid-area: logo;
  height: fit-content;
  z-index: 1;
  height: 200px;
  margin-top: 2rem;
}

.nav-color {
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
  color: #ffffff !important;
  font-weight: 500;
}

.navFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: solid 0.5px #ffffff;
  border-bottom: solid 0.5px #ffffff;
}

.nav-link {
  margin: 0 1rem 0 1rem;
  border-left: solid 0.5px #ffffff;
  border-right: solid 0.5px #ffffff;
  background-color: unset;
}
